<?xml version="1.0" encoding="utf-8"?>  
<configuration>  
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
                <rule name="ForceSSL" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Proxy" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="https://tomssl.com/{R:1}" />
                    <serverVariables>
                        <set name="HTTP_X_UNPROXIED_URL" value="https://tomssl.com/{R:1}" /> 
                        <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" /> 
                        <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables>
                </rule>
            </rules>
            <outboundRules>
                <rule name="ChangeReferencesToOriginalUrl" patternSyntax="ExactMatch" preCondition="CheckContentType">
                       <match filterByTags="None" pattern="https://tomssl.com" />
                       <action type="Rewrite" value="https://{HTTP_X_ORIGINAL_HOST}" />
                  </rule>
                <rule name="WordRedactionFilter1" patternSyntax="ExactMatch" preCondition="CheckContentType">
                       <match filterByTags="None" pattern=" the " />
                       <action type="Rewrite" value=" &lt;span style='background-color:black; color:black; cursor:help' title='REDACTED'&gt;XXXXX&lt;/span&gt;&#160;" />
                  </rule>
                <rule name="WordRedactionFilter2" patternSyntax="ExactMatch" preCondition="CheckContentType">
                       <match filterByTags="None" pattern=" a " />
                       <action type="Rewrite" value=" &lt;span style='background-color:black; color:black; cursor:help' title='REDACTED'&gt;XXXXX&lt;/span&gt;&#160;" />
                  </rule>
                <rule name="WordSubstitutionFilter1" patternSyntax="ExactMatch" preCondition="CheckContentType">
                       <match filterByTags="None" pattern="ing " />
                       <action type="Rewrite" value="in' " />
                  </rule>
                <rule name="WordSubstitutionFilter2" patternSyntax="ExactMatch" preCondition="CheckContentType">
                       <match filterByTags="None" pattern=" 2015" />
                       <action type="Rewrite" value=" 2014" />
                  </rule>
                <rule name="ImageSubstitutionFilter1" patternSyntax="ExactMatch" preCondition="CheckContentType">
                       <match filterByTags="None" pattern="//www.gravatar.com/avatar/b32f804a7aaf295a3517e63e563c1a83" />
                       <action type="Rewrite" value="/content/images/2015/06/Einstein_250.jpg" />
                  </rule>
                <rule name="AppendHeader" patternSyntax="ExactMatch" preCondition="CheckContentType">
                       <match filterByTags="None" pattern="&lt;/body&gt;" />
                       <action type="Rewrite" value="&lt;div style='font-family:&#34;Open Sans&#34;,san-serif;font-size:1.5rem;text-align:center;padding:2px;background-color:#FF0000;color:#FFFFFF;z-index:99;position:fixed;top:0px;width:100%;border-bottom:1px solid grey;'&gt;This page has been altered by a free Microsoft Azure proxy. Details &lt;a href='https://tomssl.com/'&gt;here&lt;/a&gt;. See the original page &lt;a href='{HTTP_X_UNPROXIED_URL}'&gt;here&lt;/a&gt;&lt;/div&gt;&lt;/body&gt;" />
                  </rule>
                <preConditions>
                    <preCondition name="CheckContentType">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^(text/html|text/plain|text/xml|application/rss\+xml)" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>  